---
import Button from '../button.astro'
const title = 'Bienvenidos'
const description =
  ' Soy médico y programador (frontend y mobile).' +
  ' Aquí intento fusionar ambas profesiones y compartir información util.' +
  ' Si te gusta esta web, fue creada con Astro, React, Tailwind y DaisyUI.' +
  ' Puedes personalizarla cambiando el theme (oscuro, claro, cupcake, ciberpunk) o las fuentes en la navbar.' +
  ' Si te interesa también puedes clonarlo desde Github.'
const signature = 'Diego Nicita'
const image = '/webapp/logo-grande.png'
const button1 = 'Acerca de Mi'
const link1 = '/curriculum'
const button2 = 'Github Repo'
const link2 = 'https://github.com/diegonicita/astro-react-daisy-webapp'
---

<div class="hero bg-base-400">
  <div class="hero-content flex-col-reverse xl:flex-row-reverse">
    <img src={image} class="w-[0%] md:w-[45%]" />
    <div class="w-full">
      <h1 class="text-6xl font-bold" style="text-wrap: balance">
        {title}
      </h1>
      <h3 class="text-md text-slate-500" style="text-wrap: balance">
        {description}
      </h3>
      <h4 class="flex justify-end pr-10 text-slate-500">{signature}</h4>
      <Button notPrimary big outline to={link1}>{button1}</Button>      
      <Button big to={link2}>{button2}</Button>
    </div>
  </div>
</div>
