---
const { title, description, tools, link } = Astro.props
---

<div>
  <h3><span class="font-bold">{title}: </span></h3>{description}
</div>
<div class="mt-2 mb-8">
  <span class="font-bold">Tecnologías: </span>{tools}
  {link && <div><span class="font-bold">Enlace: </span><a href={link}>{title}</a></div>}
</div>
<div></div>
